<!DOCTYPE html>

<head>

<style>
/*  css */

        * {
            padding: 0;
            margin: 0;

        }

        .wrap {
            width: 100svw;
            min-height: 50svh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .title {
            padding-bottom: 20px;
        }

        th {
            padding-right: 1rem;
            padding-bottom: 10px;
        }

        .container{
            width: 100svw;
            height: 25svh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

/* --- */
</style>

</head>

<body>

<div class="wrap">
<div class="container">
<table>
<thead>
<tr>
    <!-- <th scope="col" calss = "thead">선택</th> -->
    <th scope="col" class = "thead">
        메뉴이름
    </th>
    <th scope="col" class = "thead">개수</th>
    <th scope = "col" class = "thead">가격</th>
</tr>
</thead>
<tbody>

        <form action="/order" method="post">
        <% for(var i =0 ; i< basket.length ; i++) { %>
        <tr>
        <!-- <th><input type = "checkbox" name = "check"  value = "<%= basket[i].menuNumber %>"/> </th> -->
        <th><%= basket[i].menuName %></th>
        <th><%= basket[i].count %></th>
        <th><%= Number(basket[i].count)*Number(basket[i].menuPrice) %></th>
        </tr>

        <% } %>

 
        <tr>
            <th><button type = "submit" >주문하기</button></th>
        </tr>
        </form>
</tbody>
</table>
</div>

</div>



</body>
</html>