<!DOCTYPE html>
<html>
  <head>
    <style>
      .wrap {
        width: 100svw;
        min-height: 100svh;
        align-items: center;
        justify-content: center;
      }
      .container {
        width: 100svw;
        min-height: 25svh;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      a {
        padding-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <% include ./navbar.ejs %>
    <div class="wrap">
      <div class="container">
        <a href="/orderSearch">회원주문조회</a>

        <a href="/supplySearch">재고량조회</a>

        <a href="/orderList">커피 쇼핑하기</a>

        <a href="/menuAdd">커피 메뉴 추가</a>

        <a href="/recipe">레시피 추가</a>

        <a href="/IngredientAdd">업체별 재료 및 재고량 추가</a>

        <form action="/starmenu" method="post">
          <button type="submit">추천메뉴 변경</button>
        </form>
      </div>
    </div>
  </body>
</html>
