<!DOCTYPE html>
<html>
  <head>
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      html {
        width: 100svw;
        min-height: 100svh;
      }
      div {
        padding-bottom: 10px;
      }

      /* .wrap {
        width: 100vw;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      } */

      .wrapcard {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #f8f9fa;
      }

      .container {
        width: 100svw;
        height: 25svh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .orderManage {
        padding-bottom: 10px;
        border-radius: 1px;
      }
    </style>
  </head>
  <body>
    <% include ./navbar.ejs %>
    <div class="wrap">
      <div class="container">
        <div class="orderManage"><a href="/orderSearch">주문관리</a></div>

        <div class="ingredientManage"><a href="/supplySearch">재고관리</a></div>

        <div class="manageLink"><a href="/manage">관리자페이지</a></div>

        <a href="/orderList">커피 쇼핑하기</a>

        <a href="/recipe">레시피 추가</a>

        <a href="/IngredientAdd">업체별 재료 및 재고량 추가</a>
      </div>
    </div>
  </body>
</html>
