<!DOCTYPE html>
<html>
  <head>
    <style>
      .wrap {
        width: 100svw;
        min-height: 100svh;
        align-items: center;
        justify-content: center;
      }
      .container {
        width: 100svw;
        min-height: 25svh;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      a {
        padding-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="wrap">
      <div class="container">
        <form action="/starMenu/update" method="post">
          <% for(var i = 0; i < starMenu.length; i++) { %>
          <input
            type="hidden"
            name="menuNumber"
            value="<%= starMenu[i].menuNumber %>"
          />

          <input type="text" value="<%= starMenu[i].menuName %>" />

          <% if (starMenu[i].starMenu == "0") { %>

          <input type="text" name="starMenu" value="" />

          <% }else { %>

          <input type="text" name="starMenu" value="추천메뉴" />
          <% } %> <% } %>
          <button type="submit">제출</button>
        </form>
      </div>
    </div>
  </body>
</html>
