
<!DOCTYPE html>
<head>
<style>
    /* css */

    * {

        padding:0;
        margin:0;
        padding-bottom: 10px;

    }

    .wrap{
        width: 100svw;
        min-height: 100svh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container{
        width: 100svw;
        min-height: 50svh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    p{
        padding-bottom: 10px;
    }

    a{
        text-decoration: none;
        color: black;
    }


</style>
</head>

<body>

  <div class="wrap">


        <div class = "container">
            <h1>데이터를 추가하기 위한 페이지</h1>

            <a href="/orderList">커피 쇼핑하기</a>


            <a href = "/menuAdd">커피 메뉴 추가</a>

            <a href = "/menuMake">재료 주문</a>

            <a href = "IngredientAdd">업체별 재료 및 재고량 추가</a>

        </div>
</div>

</div>


</body>

</html>