


<!DOCTYPE html>
<head>
<style>
    /* css */

    * {

        padding:0;
        margin:0;

    }

    .wrap{
        width: 100svw;
        height: 50svh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    p{
        padding-bottom: 10px;
    }


</style>
</head>

<body>

  <div class="wrap">


        <div class = "container">

            <p>어떤 메뉴에</p>
            <p>어떤 재료가</p>

        </div>
</div>

</div>


</body>

</html>



