<!DOCTYPE html>
<head>
<style>
    /* css */

    * {

        padding:0;
        margin:0;

    }

    .wrap{
        width: 100svw;
        min-height: 50svh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container{
        width: 100svw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    p{
        padding-bottom: 10px;
    }


</style>
</head>

<body>

  <div class="wrap">


        <div class = "container">

      
            <input type="text" name="menuName" placeholder="메뉴 이름 입력"/>
            <input type = "text" name = "menuCategory" placeholder="메뉴 종류 입력" />
            <input type="text" name="menuPrice"  placeholder="메뉴 가격 입력"/>

            <button type = "submit">제출</button>

            </form>

        </div>
</div>

</div>


</body>

</html>
