


<!DOCTYPE html>
<head>
<style>
    /* css */

    * {

        padding:0;
        margin:0;

    }

    .wrap{
        width: 100svw;
        height: 50svh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    p{
        padding-bottom: 10px;
    }


</style>
</head>

<body>

  <div class="wrap">


        <div class = "container">

            <select name="supply">
                <% for(var i =0; i < supply.length; i++) { %>

                <option value= "콜롬비아만세" selected><%= supply[i].SupplyName %></option>

                <% } %>
            </select>
            

            <input type = "text" name = "ingredientName" placeholder="재료를 입력해주세요"/>
            <input type = "text" name = "count" placeholder="수량을 입력해주세요"/>

            <button type = "submit" >주문하기</button>

        </div>
</div>

</div>


</body>

</html>



