<!DOCTYPE html>
<head>
<style>
    /* css */

    * {

        padding:0;

        margin:0;

    }

    .wrap{
        width: 100svw;
        min-height: 50svh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container{
        width: 100svw;
        height: 25svh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



</style>
</head>

<body>

  <div class="wrap">


        <div class = "container">



        </div>
</div>



</body>

</html>