
<!DOCTYPE html>
<head>
<style>
    /* css */

    * {

        padding:0;
        margin:0;

    }

    .wrap{
        width: 100svw;
        height: 50svh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    p{
        padding-bottom: 10px;
    }


</style>
</head>

<body>

  <div class="wrap">


        <div class = "container">
            <form action = "/recipe/add" method="post">

            <input type="text" name="menuName" value = "<%= menuName %> "/>
            <input type="hidden" name="menuNumber" value = "<%= menuNumber %> "/>
            <input type="text" name="ingredientName" placeholder="재료 이름 입력"/>
            <input type="text" name="ingredientSize" placeholder="필요한 양"/>

            <button type="submit">제출</button>
            </form>
        </div>
</div>

</div>


</body>

</html>



