<!DOCTYPE html>
<head>
    <style>

        * {
            padding: 0;
            margin: 0;
        }

        .wrap {
            width: 1920px;
            height: 1080px;
            justify-content: center;
            align-items: center;
        }

        .container{

            width: 100svw;
            height: 25svh;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .title {
            padding-bottom: 20px;
        }
        th {
            padding-right: 10px;
        }
        h1{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div class="wrap">
                    <h1>재고 조회</h1>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="thead"> 재료명 </th>
                        <th scope="col" class="thead"> 재고량 </th>
                        <th scope="col" class="thead"> 업체명 </th>
                        <th scope="col" class="thead"> 재료가격 </th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i =0; i< supply.length; i++ ) { %>
                    <tr>
                        <th><%= supply[i].ingredientName %></th>
                        <th><%= supply[i].ingredientCount %></th>
                        <th><%= supply[i].SupplyName %></th>
                        <th><%= supply[i].ingredientPrice %></th>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>